body {
    background:linear-gradient(to bottom, hsl(240, 40%, 25%), hsl(212, 60%, 31%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#firstH1 {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    padding: 80px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-shadow: #0e4b90 0px 0px 10px;

}

#whyamipic {
   display: block;
   max-width: 50vh;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   position: relative ;
   z-index: -1;
   transform: translateY(vh);


}



#startButton {
    display: block;
    width:min(80%, 380px); 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60vh;
    padding: 20px 30px;
    font-size: 50px;
    background-color: #a8f0d4;  
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;
}

#startButton:hover {
    background-color:#2be19b;
    scale: 1.1;
}

#startButton:active {
    background-color: #95d5bc;
    transform: scale(0.95) translateY(2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#approvedButton {
    flex: content;
    flex-direction: row;
    justify-content: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px 30px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: #fffffff7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;
}

#deniedButton {
    flex: content;
    margin: 20px;
    max-width: 300px;
    flex-direction: row;
    justify-content: center;
    padding: 20px 30px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;
}

#buttonContainer {
    display: none;
    align-items: center;
    justify-content: center;
   
}

#approvedButton:hover {
    background-color: #55ef3d;
    font-size: 3em;
    padding-left: 0;
    padding-right: 0;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3 ease-in-out;
    

}

#deniedButton:hover{
    background-color: #fe5858;
    font-size: 3em;
    padding-left: 0;
    padding-right: 0;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3 ease-in-out;
}

#approvedButton:active {
    transform: scale(0.95) translateY(2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

#deniedButton:active {
    transform: scale(0.95) translateY(2px); 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
    

#resetButton {
    flex: content;
    margin-top: 5vh;
    margin-bottom: 8vh;
    z-index: 1;
    margin-left: 40px;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #1f70e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;

}

#turnBackButton {
    flex: content;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #1f70e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;

}

#buttonContainer2 {
    display: none;
    align-items: center;
    justify-content: center;

}

#turnBackButton:hover ,#resetButton:hover{
    scale: 1.05;
    font-size: large;
    font-weight: bold;
}